<ion-header>
  <ion-navbar *navbar>
    <ion-title>{{device.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="device-page">
  <ion-list inset>
    <ion-item-sliding *ngFor="#characteristic of characteristics" #slidingItem>
      <button ion-item (click)="connectToCharacteristic(device.id, characteristic)">
        <h2>{{characteristic.characteristic}}</h2>
        <p>{{characteristic.properties}}</p>
        <p>{{characteristic.isNotifying}}</p>
        <p>{{characteristic.service}}</p>
      </button>
    </ion-item-sliding>
  </ion-list>

  <ion-item>
    <input type="number" placeholder="Write red color" [(ngModel)]="redStr" min="0" max="255"/>
    <input type="number" placeholder="Write green color" [(ngModel)]="greenStr" min="0" max="255" />
    <input type="number" placeholder="Write blue color" [(ngModel)]="blueStr" min="0" max="255" />
    <button (click)="write(device.id)">Write</button>
  </ion-item>

  <ion-spinner *ngIf="connecting" name="circles"></ion-spinner>
</ion-content>
