.device-page {
  .red-color-picker {
    ion-icon { color: red; }
  }
  .green-color-picker {
    ion-icon { color: green; }
  }
  .blue-color-picker {
    ion-icon { color: blue; }
  }
  .warm-color-picker {
    ion-icon { color: yellow; }
  }
}
