<ion-header>
  <ion-navbar>
    <ion-title>{{device.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="device-page">
  <ion-item *ngIf="!connecting">
    <ion-range [(ngModel)]="red" (ngModelChange)="updateColor()"
               min="0" max="255" class="red-color-picker">
      <ion-icon range-left small name="sunny"></ion-icon>
      <ion-icon range-right name="sunny"></ion-icon>
    </ion-range>
    <ion-range [(ngModel)]="green" (ngModelChange)="updateColor()"
               min="0" max="255" class="green-color-picker">
      <ion-icon range-left small name="sunny"></ion-icon>
      <ion-icon range-right name="sunny"></ion-icon>
    </ion-range>
    <ion-range [(ngModel)]="blue" (ngModelChange)="updateColor()"
               min="0" max="255" class="blue-color-picker">
      <ion-icon range-left small name="sunny"></ion-icon>
      <ion-icon range-right name="sunny"></ion-icon>
    </ion-range>
  </ion-item>

  <ion-spinner *ngIf="connecting" name="circles"></ion-spinner>
</ion-content>
